<!DOCTYPE html>
<html>
  <head>
    <title>Sportive</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Sportive">
    <meta name="description" content="Here you can share and publish sports articles.">
    <meta property="og:image" content="sportive2.png">
    <meta property="image" content="sportive2.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "https://pro.fontawesome.com/releases/v5.10.0/css/all.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="cont">
    
    <%= yield %>
  
    </div>
    <%= render "layouts/bottombar" %>

    <%= %>
  </body>
</html>
